<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Band</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}} {{user.last_name}}!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/user/bands/{{user.id}}" class="btn btn-primary">My Bands</a>
            <a href="/dashboard" class="btn btn-success">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </nav>
    <form action="/create/band" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2>Add a New Band</h2>
        {% with messages = get_flashed_messages(category_filter=['band']) %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <h2>Attention:</h2>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="d-flex justify-content-between">
            <div>
                <div class="form-group">
                    <label for="name">Band Name:</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" name="genre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="hometown">Hometown</label>
                    <input type="text" name="hometown" class="form-control">
                </div>
                <br>
                <input type="submit" value="Add Band" class="btn btn-info">
                </div>
            </div>
        </div>
    </form>
</body>
</html>