<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center">
        <h1 class="text-center">Welcome to Car Dealz, {{user.first_name}}!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
    </nav>
    <div class="col-7 mx-auto">
        <h1>Cars For Sale</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Seller</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                <tr>
                    <td>{{car.model}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.poster.first_name}} {{car.poster.last_name}}</td>
                    <td>
                        {% if car.user_id == session.user_id %}
                        <a href="/edit/car/{{car.id}}">Edit</a>
                        <a href="/destroy/car/{{car.id}}">Delete</a>
                        {% else %}
                        <a href="/show/car/{{car.id}}">View</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/sell/car" class="btn btn-info">Add a Car</a>
    </div>
</body>
</html>