<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Put Car Up For Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Put Car Up For Sale</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-success">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </nav>
    <form action="/create/car" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        {% with messages = get_flashed_messages(category_filter=['car']) %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <h2>Attention:</h2>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="d-flex justify-content-between">
            <div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" name="price" class="form-control" min="1" oninput="validity.valid||(value='');">
                </div>
                <div class="form-group">
                    <label for="model">Model:</label>
                    <input type="text" name="model" class="form-control">
                </div>
                <div class="form-group">
                    <label for="make">Make:</label>
                    <input type="text" name="make" class="form-control">
                </div>
                <div class="form-group">
                    <label for="year">Year:</label>
                    <input type="number" name="year" class="form-control" min="1" oninput="validity.valid||(value='');">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description" cols="20" rows="5" class="form-control"></textarea>
                </div>
                <input type="hidden" name="user_id" value="">
                <br>
                <input type="submit" value="Add Car" class="btn btn-info">
                </div>
            </div>
        </div>
    </form>
</body>
</html>