<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}!</h1>
        <div>
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </nav>
    <form action="/update/recipe" method="post" class="col-11 p-4 my-4 bg-dark text-white mx-auto">
        <h2>Edit Recipe</h2>
        {% with messages = get_flashed_messages(category_filter=['recipe']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <h1>Attention:</h1>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% end if %}
        {% endwith %}

        <div class="d-flex justify-content-between col-9">
            <input type="hidden" name="id" value="{{edit.id}}">
            <div class="col-4">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" value="{{edit.name}}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" cols="20" rows="5" class="form-control">{{edit.description}}</textarea>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="date_made">Date Made:</label>
                    <input type="date" name="date_made" value="{{edit.date_made.strftime('%Y-%m-%d')}}" class="form-control">
                </div>
                <label for="under30">Under 30 minutes?</label>
                <div class="input-group-text bg-dark">
                    <input type="radio" name="under30" value="0" class="form-control">
                    <label for="0">No</label>
                </div>
                <div class="input-group-text bg-dark">
                    <input type="radio" name="under30" value="1" class="form-control">
                    <label for="1">Yes</label>
                </div>
                <br>
                <input type="submit" value="Edit Recipe" class="btn btn-success">
                </div>
            </div>
        </div>
    </form>
</body>
</html>