<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground Level 1</title>
    <style>
        .box{
            background-color:lightskyblue ;
            width: 200px;
            height: 200px;
            display: inline-block;
            border: 2px solid black;
        }
        h1{
            text-align: center;
        }
        .boxinbox {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="boxinbox">
    {% for x in range(0,3): %}
        <div class="box"></div>
    {% endfor %}
    </div>
</body>
</html>
